nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quizTile{
    background:#fcfcfc;
    width: 600px;
    max-width: 96%;
    border:2px solid lightblue;
    border-radius:25px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
}

#quizTile > h3, h1, figure{
    text-align:center;
}

#largeNumber {
    font-size: 64px;
    font-weight: bold;

}

#userForm{
    margin : auto;
    padding-bottom: 15px;
}

#progressBar{
    background:#fcfcfc;
    width: 600px;
    height: 20px;
    max-width: 96%;
    border:2px solid lightblue;
    border-radius:15px;
    display: flex;
    justify-content: left;
    margin: auto;
    margin-top: 15px;
    box-sizing: border-box;
}

#progress{
    background: chartreuse;
    height : 16px;
    width: 0%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#buttons > div{
    background : teal;
    border : 2px solid darkblue;
    margin : 10px;
    padding : 7.5px;
    border-radius : 10px;
}

#buttons > div:hover{
    background : rgb(58, 199, 199);
}

#quizTile > button {
    text-align:center;
}

.centerME {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#scoreTable td, #scoreTable th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#scoreTable tr:hover {
    background-color: #ddd;
}
  
#scoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body {
    margin : 0;
    
}