nav {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

#quizTile{
    background:#fcfcfc;
    width: 600px;
    max-width: 96%;
    border:5px solid #f8b195;
    border-radius:25px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding: 15px;
    margin: auto;
    box-sizing: border-box;
}

#quizTile > h3, h2, h1, figure{
    text-align:center;
}

#largeNumber {
    font-size: 110px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;

}

#userForm{
    margin : auto;
    padding-bottom: 15px;
}

#progressBar{
    background:#fcfcfc;
    width: 600px;
    height: 26px;
    max-width: 96%;
    border:5px solid #f8b195;
    border-radius:15px;
    display: flex;
    justify-content: left;
    margin: auto;
    margin-top: 15px;
    box-sizing: border-box;
}

#progress{
    background: rgb(175, 245, 105);
    height : 16px;
    width: 0%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

#buttons > div{
    background : #f67280;
    border : 5px solid #f8b195;
    margin : 10px;
    padding : 7.5px;
    border-radius : 10px;
}

#buttons > div:hover{
    background : rgb(58, 199, 199);
}

#quizTile > button {
    text-align:center;
}

.centerME {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#scoreTable td, #scoreTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#submit {
    font-family: 'Grandstander', cursive;
    border: none;
    height: 25px;
    padding-top: 5px;
    color: white;
    background-color: rgb(58, 199, 199);
    border-radius:6px;
}
  
#scoreTable tr:hover {
    background-color: #ddd;
}
  
#scoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(58, 199, 199);
    color: white;
}

#scoreTable {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin : 0;
    background-color: #6c5b7b;
    font-family: 'Grandstander', cursive;
}

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: white;
  }
  
  a:active {
    color: lightgrey;
  }